body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}